.abt-maintxt-box {
    padding: 75px 150px !important;
}

.about-main-txt {
    color: #000000;
    text-align: center;
    font-family: "Ingra-Regular2", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.about-us-box {
    background: #f0f0f0;
    height: 250px;
    padding: 55px;
    z-index: 9;
}

.aub1 {
    margin-top: 145px;
    margin-left: -65px;   
}

.aub2 {
    margin-top: 125px;
    position: absolute; /* Add this */
    right: -35px;
    left: 0; /* Add this */
    z-index: 1; /* Add this */

}

.about-us-box p {
    border-left: 2px solid #92278F;
    padding: 0px 0px 0px 15px;
    width: 85%;
}

.abt-img {
    z-index: -2;
}