.xcv h6 {
    font-size: 24px;
    font-weight: 500;
}
.xcv p {
    padding-right: 40%;
}
.contact-socials {
    display: inline-flex;
}
.contact-socials li a  {
    font-size: 34px;
    padding-right: 15px;
}
.contact-socials li a i{
    color: #92278F;
}

.vst h6 {
    font-size: 24px;
    font-weight: 500;
}

.vst p {
    font-size: 16px;
    /* font-weight: 500; */
    padding: 0px 300px;
}
.ad-x {
    min-height: 450px;
    height: fit-content;
}
.address-box {
    padding: 20px;
    /* height: fit-content; */
}
.address-box h6 {
    color: #000000;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}
.address-box .add-list li {
    color: #000000;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
}
.add-line {
    width: 100%;
    height: 2px;
    background-color: #92278F;
    margin-bottom: 10px;
}
.add-img {
    height: auto;
    width: 105%;
    object-fit: cover;
}
.add-img-2 {
    height: auto;
    width: 105%;
    object-fit: cover;
}

/* Adjust banner styles for tablet view */
@media (max-width: 992px) { 
    .xcv p {
        padding-right: 20%;
    }
}