.ca-homepage,
.ca-homepage * {
  box-sizing: border-box;
}
.ca-homepage {
  background: #ffffff;
  height: 6274px;
  position: relative;
  overflow: hidden;
}
.control-every-aspect-of-a-home-or-office-with-artificial-intelligence-that-allows-you-to-create-basic-automation-incorporate-complex-logic-scenarios-and-control-lighting-temperature-curtains-entertainment-iptv-and-more {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: -356px;
  top: 915px;
  width: 293px;
}
.rectangle-4 {
  background: #92278f;
  width: 216px;
  height: 216px;
  position: absolute;
  left: -524px;
  top: 915px;
}
.rectangle-5 {
  background: #8dc63f;
  width: 216px;
  height: 216px;
  position: absolute;
  left: -524px;
  top: 1176px;
}
.rectangle-6 {
  background: #1c75bc;
  width: 216px;
  height: 216px;
  position: absolute;
  left: -524px;
  top: 1437px;
}
.rectangle-22 {
  background: #0c0c0c;
  width: 1440px;
  height: 306px;
  position: absolute;
  left: 0px;
  top: 5968px;
}
.mask-group {
  position: absolute;
  inset: 0;
}
.rectangle-19 {
  background: #d9d9d9;
  width: 1440px;
  height: 600px;
  position: absolute;
  right: 0px;
  top: 5368px;
}
.all-one-smart-home-control-system-app-concept-tablet-display-man-hands-1 {
  width: 1888px;
  height: 630.45px;
  position: absolute;
  left: -383px;
  top: 5353px;
  filter: blur(15px);
  object-fit: cover;
}
.istockphoto-1338048990-640-adpp-is-3 {
  width: 1440px;
  height: 850px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-68 {
  background: linear-gradient(
    73.05deg,
    rgba(0, 0, 0, 1) 4.481464996933937%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1440px;
  height: 850px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.layer-1 {
  width: 250px;
  height: 56px;
  position: absolute;
  left: 35px;
  top: 17px;
  overflow: visible;
}
.group-57 {
  position: absolute;
  inset: 0;
}
.learn-more {
  color: #ffffff;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 542px;
  width: 95px;
  height: 22px;
}
.rectangle-1 {
  background: rgba(255, 255, 255, 0);
  border-radius: 7px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 135px;
  height: 36px;
  position: absolute;
  left: 85px;
  top: 532px;
}
.aligned-with-certified-system-designers-and-integrators-charlesaaron-custom-solutions-distributes-and-installs-products-designed-to-enhance-your-business-or-home-operation-systems {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 93px;
  top: 468px;
}
.providing-superior-residential-commercial-consumer-electronic-systems {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 358px;
  width: 1040px;
}
.rectangle-69 {
  width: 685px;
  height: 666px;
  position: absolute;
  left: 755px;
  top: 1677px;
  object-fit: cover;
}
.featured-solutions {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular2", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 916px;
}
.rectangle-70 {
  background: linear-gradient(
    20.48deg,
    rgba(146, 39, 143, 1) 0%,
    rgba(139, 0, 136, 0) 100%
  );
  width: 1440px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 5368px;
}
.group-118 {
  position: absolute;
  inset: 0;
}
.group-56 {
  width: 339px;
  height: 16px;
  position: static;
}
.group-1 {
  width: 339px;
  height: 16px;
  position: static;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 894px;
  top: 42px;
}
.our-services {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 967px;
  top: 42px;
}
.our-solutions {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1060px;
  top: 42px;
}
.our-brands {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1162px;
  top: 42px;
}
.cosult {
  width: 107px;
  height: 28px;
  position: static;
}
.rectangle-12 {
  border-radius: 0px;
  width: 107px;
  height: 28px;
  position: absolute;
  left: 1250px;
  top: 35px;
  overflow: visible;
}
.consultation {
  color: #3d3d3d;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 1269px;
  top: 43px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1383px;
  top: 42px;
}
.rectangle-13 {
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 1377px;
  top: 35px;
}
.rectangle-71 {
  background: #f3f3f3;
  width: 720px;
  height: 683px;
  position: absolute;
  left: 0px;
  top: 4341px;
}
.rectangle-33 {
  background: #d9d9d9;
  width: 720px;
  height: 683px;
  position: absolute;
  right: 0px;
  top: 4341px;
}
.happy-customer-service-representative-using-computer-while-communicating-with-clients-online-1 {
  width: 988px;
  height: 683px;
  position: absolute;
  left: 452px;
  top: 4341px;
  object-fit: cover;
}
.group-58 {
  position: absolute;
  inset: 0;
}
.automation-is-the-future-providing-that-automation-for-your-home-or-business-in-a-way-that-is-user-friendly-and-best-fits-your-personal-taste-and-priorities-is-our-number-one-commitment-to-you-our-team-of-professionals-with-leave-no-stone-unturned-in-our-quest-to-understand-and-exceed-your-expectations {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 449px);
  top: 5169px;
  width: 899px;
}
.our-mission {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 308px);
  top: 5107px;
  width: 618px;
}
.group-59 {
  position: absolute;
  inset: 0;
}
.tried-tested-proven {
  color: #ffffff;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 449px);
  top: 5723px;
  width: 899px;
}
.providing-the-best-residential-commercial-electronic-solutions {
  color: #ffffff;
  text-align: center;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 309px);
  top: 5542px;
  width: 618px;
}
.group-7 {
  width: 135px;
  height: 36px;
  position: static;
}
.rectangle-21 {
  background: rgba(255, 255, 255, 0);
  border-radius: 7px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 135px;
  height: 36px;
  position: absolute;
  left: 653px;
  top: 5779px;
}
.get-started {
  color: #ffffff;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 665px;
  top: 5789px;
  width: 110px;
  height: 22px;
}
.rectangle-39 {
  background: #f3f3f3;
  width: 902px;
  height: 683px;
  position: absolute;
  left: -4.09px;
  top: 4340.66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-46 {
  width: 37.57%;
  height: 8.56%;
  position: absolute;
  right: 58.77%;
  left: 3.66%;
  bottom: 18.27%;
  top: 73.17%;
  transform: translate(-52.68px, 0px);
  overflow: visible;
}
.aligned-with-certified-system-designers-and-integrators-charlesaaron-custom-solutions-distributes-and-installs-products-designed-to-enhance-your-business-or-home-operation-systems2 {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 127px;
  top: 4658px;
  width: 533px;
}
.after-sales-service {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 4596px;
  width: 618px;
}
.group-60 {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: rgba(147, 40, 144, 0);
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 135px;
  height: 36px;
  position: absolute;
  left: 326px;
  top: 4734px;
}
.learn-more2 {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 346px;
  top: 4744px;
  width: 95px;
  height: 22px;
}
.group-61 {
  position: absolute;
  inset: 0;
}
.rectangle-102 {
  background: rgba(146, 39, 143, 0);
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 135px;
  height: 36px;
  position: absolute;
  left: 653px;
  top: 5248px;
}
.learn-more3 {
  color: #000000;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 673px;
  top: 5258px;
  width: 95px;
  height: 22px;
}
.rectangle-72 {
  width: 686px;
  height: 666px;
  position: absolute;
  left: 0px;
  top: 1011px;
  object-fit: cover;
}
.group-62 {
  position: absolute;
  inset: 0;
}
.products-and-solutions {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 411px;
  top: 6032px;
  width: 198px;
  height: 18px;
}
.group-18 {
  width: 189px;
  height: 93px;
  position: static;
}
.home-automation-home-cinema-a-v-distribution-meeting-rooms-board-rooms-networking {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 411px;
  top: 6058px;
  width: 189px;
  height: 93px;
}
.group-63 {
  position: absolute;
  inset: 0;
}
.company {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 660px;
  top: 6032px;
  width: 197px;
  height: 18px;
}
.group-24 {
  width: 189px;
  height: 61px;
  position: static;
}
.about-charlesaaron-privacy-and-security-blog-careers {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 660px;
  top: 6058px;
  width: 189px;
  height: 61px;
}
.group-64 {
  position: absolute;
  inset: 0;
}
.partners {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 908px;
  top: 6032px;
  width: 197px;
  height: 18px;
}
.group-30 {
  width: 189px;
  height: 46px;
  position: static;
}
.dealer-login-become-a-dealer-professional-support {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 908px;
  top: 6058px;
  width: 189px;
  height: 46px;
}
.group-65 {
  position: absolute;
  inset: 0;
}
.get-instant-quote {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 1156px;
  top: 6032px;
  width: 198px;
  height: 18px;
}
.group-36 {
  width: 189px;
  height: 18px;
  position: static;
}
.join-our-newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1156px;
  top: 6058px;
  width: 189px;
  height: 18px;
}
._2024-charlesaaron-all-rights-reserved {
  color: #c4c4c4;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 172px);
  top: 6248px;
  width: 345px;
  height: 18px;
}
.rectangle-392 {
  background: #f3f3f3;
  width: 720px;
  height: 683px;
  position: absolute;
  left: 720px;
  top: 4341px;
}
.group-462 {
  width: 72.32%;
  height: 16.47%;
  position: absolute;
  right: -116.69%;
  left: 144.37%;
  bottom: 15.18%;
  top: 68.35%;
  transform: translate(-1358.94px, 52.54px);
  overflow: visible;
  mix-blend-mode: overlay;
}
.rectangle-66 {
  width: 720px;
  height: 666px;
  position: absolute;
  left: 720px;
  top: 3009px;
  object-fit: cover;
}
.rectangle-73 {
  width: 720px;
  height: 666px;
  position: absolute;
  left: 0px;
  top: 3675px;
  object-fit: cover;
}
.rectangle-115 {
  background: linear-gradient(
    207.95deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(255, 255, 255, 0.15) 67.38475561141968%,
    rgba(0, 0, 0, 0.87) 100%
  );
  width: 686px;
  height: 666px;
  position: absolute;
  right: 0px;
  top: 1677px;
}
.rectangle-117 {
  background: linear-gradient(
    207.95deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(255, 255, 255, 0.15) 67.38475561141968%,
    rgba(0, 0, 0, 0.87) 100%
  );
  width: 686px;
  height: 666px;
  position: absolute;
  right: 0px;
  top: 3009px;
}
.rectangle-53 {
  background: #ffffff;
  width: 754px;
  height: 666px;
  position: absolute;
  left: 686px;
  top: 1011px;
}
.rectangle-58 {
  background: #ffffff;
  width: 754px;
  height: 666px;
  position: absolute;
  left: 686px;
  top: 2343px;
}
.rectangle-63 {
  background: #ffffff;
  width: 754px;
  height: 666px;
  position: absolute;
  left: 686px;
  top: 3675px;
}
.residential-commercial-security-systems {
  color: #222222;
  text-align: left;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 785px;
  top: 1246px;
}
.smart-energy-solutions {
  color: #222222;
  text-align: left;
  font-family: var(--title-ca-font-family, "Ingra-Regular5", sans-serif);
  font-size: var(--title-ca-font-size, 25px);
  line-height: var(--title-ca-line-height);
  font-weight: var(--title-ca-font-weight, 400);
  position: absolute;
  left: 785px;
  top: 2575px;
}
.design-consultancy {
  color: #222222;
  text-align: left;
  font-family: var(--title-ca-font-family, "Ingra-Regular5", sans-serif);
  font-size: var(--title-ca-font-size, 25px);
  line-height: var(--title-ca-line-height);
  font-weight: var(--title-ca-font-weight, 400);
  position: absolute;
  left: 787px;
  top: 3901px;
}
.rectangle-50 {
  background: #92278f;
  width: 2px;
  height: 54px;
  position: absolute;
  left: 777px;
  top: 1252px;
}
.rectangle-121 {
  background: #92278f;
  width: 1px;
  height: 834px;
  position: absolute;
  left: 1355px;
  top: 939px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-65 {
  background: #92278f;
  width: 2px;
  height: 57px;
  position: absolute;
  left: 777px;
  top: 2579px;
}
.rectangle-67 {
  background: #92278f;
  width: 2px;
  height: 52px;
  position: absolute;
  left: 777px;
  top: 3907px;
}
.rectangle-52 {
  background: #f0f0f0;
  width: 755px;
  height: 666px;
  position: absolute;
  left: 0px;
  top: 1677px;
}
.rectangle-60 {
  background: #f0f0f0;
  width: 755px;
  height: 666px;
  position: absolute;
  left: 0px;
  top: 3009px;
}
.remote-monitor-cctv-cameras-access-24-hour-recording-and-playback-arm-or-disarm-security-at-home-or-on-the-go {
  color: #000000;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 777px;
  top: 1325px;
  width: 573px;
  height: 38px;
}
.sound-engineering {
  color: #222222;
  text-align: left;
  font-family: var(--title-ca-font-family, "Ingra-Regular5", sans-serif);
  font-size: var(--title-ca-font-size, 25px);
  line-height: var(--title-ca-line-height);
  font-weight: var(--title-ca-font-weight, 400);
  position: absolute;
  left: 93px;
  top: 3233px;
}
.residential-commercial-smart-technologies {
  color: #222222;
  text-align: left;
  font-family: "Ingra-Regular5", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 93px;
  top: 1905px;
}
.choose-from-an-assortment-of-off-grid-and-on-grid-energy-solutions-that-are-both-cutting-edge-and-eco-friendly {
  color: #000000;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 777px;
  top: 2657px;
  width: 573px;
  height: 38px;
}
.experience-high-level-turn-key-design-solutions-with-a-technical-team-experienced-in-working-with-end-users-consultants-main-contractors-mep-contractors-and-interior-designers {
  color: #000000;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 777px;
  top: 3980px;
  width: 573px;
  height: 57px;
}
.rectangle-59 {
  background: #92278f;
  width: 2px;
  height: 56px;
  position: absolute;
  left: 85px;
  top: 3237px;
}
.control-every-aspect-of-a-home-or-office-with-artificial-intelligence-that-allows-you-to-create-basic-automation-incorporate-complex-logic-scenarios-and-control-lighting-temperature-curtains-entertainment-iptv-and-more2 {
  color: #000000;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 1982px;
  width: 573px;
  height: 57px;
}
.install-in-ceiling-speakers-that-are-both-aesthetically-pleasing-and-deliver-sound-without-the-cluster-and-enjoy-a-wide-range-of-audio-options-for-different-spaces {
  color: #000000;
  text-align: left;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 3314px;
  width: 573px;
  height: 57px;
}
.rectangle-109 {
  background: #92278f;
  width: 2px;
  height: 52px;
  position: absolute;
  left: 85px;
  top: 469px;
}
.rectangle-116 {
  background: linear-gradient(
    207.95deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(255, 255, 255, 0.15) 67.38475561141968%,
    rgba(0, 0, 0, 0.87) 100%
  );
  width: 686px;
  height: 666px;
  position: absolute;
  right: 754px;
  top: 1011px;
}
.rectangle-119 {
  background: linear-gradient(
    207.95deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(255, 255, 255, 0.15) 67.38475561141968%,
    rgba(0, 0, 0, 0.87) 100%
  );
  width: 686px;
  height: 666px;
  position: absolute;
  right: 754px;
  top: 3675px;
}
.rectangle-120 {
  background: #9e9e9e;
  border-radius: 7px;
  width: 198px;
  height: 28px;
  position: absolute;
  left: 1157px;
  top: 6079px;
}
.group-72 {
  position: absolute;
  inset: 0;
}
.rectangle-212 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 112px;
  height: 28px;
  position: absolute;
  left: 1243px;
  top: 6115px;
}
.subscribe {
  color: #6e2678;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1252.96px;
  top: 6121px;
  width: 91.26px;
  height: 17.11px;
}
.layer-12 {
  width: 241px;
  height: 134px;
  position: absolute;
  left: 85px;
  top: 6002px;
  overflow: visible;
}
.capa-1 {
  width: 241px;
  height: 36px;
  position: absolute;
  left: 85px;
  top: 6156px;
  overflow: visible;
}
.rectangle-122 {
  background: #92278f;
  width: 2px;
  height: 54px;
  position: absolute;
  left: 85px;
  top: 1911px;
}
.home-sol-img {
  position: absolute;
  inset: 0;
}
.rectangle-89 {
  background: #d9d9d9;
  width: 686px;
  height: 666px;
  position: absolute;
  left: 0px;
  top: 2343px;
}
.whats-app-image-2024-02-19-at-12-11-1 {
  width: 969.93px;
  height: 671.05px;
  position: absolute;
  left: -16.2px;
  top: 2338.96px;
  object-fit: cover;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 660px;
  top: 6118px;
}
.group-127 {
  position: sticky;
  left: 1352px;
  top: 703px;
}
.let-s-talk {
  color: #d9d9d9;
  text-align: center;
  font-family: "Ingra-Regular3", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1367px;
  top: 786px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-126 {
  width: 53px;
  height: 109px;
  position: static;
}
.rectangle-1212 {
  background: #d9d9d9;
  border-radius: 99px;
  width: 53px;
  height: 109px;
  position: absolute;
  left: 1352px;
  top: 795px;
}
.capa-12 {
  width: 40px;
  height: 89.72px;
  position: absolute;
  left: 1358px;
  top: 805px;
  overflow: hidden;
}
.vector {
  width: 100%;
  height: 44.58%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 55.42%;
  top: 0%;
  overflow: visible;
}
.vector2 {
  width: 45.28%;
  height: 20.03%;
  position: absolute;
  right: 26.87%;
  left: 27.85%;
  bottom: 68.01%;
  top: 11.96%;
  overflow: visible;
}
.layer-2 {
  width: 100%;
  height: 44.58%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 55.42%;
  overflow: visible;
}
