@import url("./index.css");
@import url("./about-us.css");
@import url('./services.css');
@import url('./contact.css');
@import url('./solutions.css');
@import url('./consultation.css');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #fff !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 100% 100%;
}

button {
    border: none;
    outline: none;
}

/* General Rules */
section {
    width: 100% !important;
}

.container-fluid,
.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100% !important;
}

.img-free {
    width: 100% !important;
    height: auto;
    object-fit: cover;
    object-position: 100% 100%;
}

.oth-b-boxcon {
    position: relative;
    /* Add this */
    margin-left: 200px;
    margin-top: 220px;
    z-index: 9;
}

.oth-b-boxcon h6 {
    color: #000000;
    text-align: left;
    font-family: "Ingra-Regular2", sans-serif;
    font-size: 70px;
    font-weight: 400;
    position: absolute;
    /* Add this */
    bottom: -10px;
    /* Adjust this value to control the line's position */
    left: 0;
    /* Add this */
    z-index: 1;
    /* Add this */
}

.oth-b-line {
    height: 2px;
    width: 600px;
    background-color: #92278F;
    position: absolute;
    /* Add this */
    bottom: -10px;
    /* Adjust this value to control the line's position */
    left: 0;
    /* Add this */
    z-index: 1;
    /* Add this */
}

.oth-b-boxcon p {
    color: #000000;
    text-align: left;
    font-family: "Ingra-Regular2", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    /* Add this */
    bottom: -80px;
    /* Adjust this value to control the line's position */
    left: 0;
    /* Add this */
    z-index: 1;
    /* Add this */
}


/* Navigation  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 55px;
    /* position: -webkit-sticky;
    position: sticky; */
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    /* box-shadow: 1px 1px 2px #f1f1f127; */
}

.logo {
    padding: 10px;
}

.site-logo img {
    width: 90px;
    object-fit: cover;
    height: auto;
}

.main-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.main-menu-list li {
    margin: 0 10px;
}

.main-menu-list li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.main-menu-list li a:hover {
    color: #92278f!important;
}

/* Consultation-link */
.consultation-link {
    padding: 5px 15px !important;
    border-radius: 6px !important;
}

/* Mega menu styles */
.mega-menu {
    display: none;
    position: absolute;
    top: 60%;
    right: 35px;
    width: 65%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 0px 15px 15px 15px;
}

.mega-menu-header {
    display: flex;
    justify-content: space-around;
    background-color: #92278f;
    padding: 10px 0;
    color: white;
}

.mega-menu-header .col-lg-3 {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.mega-menu-header .col-lg-3 a {
    color: white;
    text-decoration: none;
}

.mega-menu-body {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.mega-menu-body .col-lg-3 {
    flex: 1;
    padding: 0 10px;
}

.mega-menu-body .col-lg-3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.mega-menu-body .col-lg-3 ul li {
    margin-bottom: 10px;
}

.mega-menu-body .col-lg-3 ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

/* Keep the mega menu visible on hover */
#navbar .nav-list ul li:hover .mega-menu,
#navbar .nav-list ul li .mega-menu:hover {
    display: block;
}

/* Language menu styles */
.lang-menu {
    position: relative;
}

.lang-menu-switch {
    cursor: pointer;
    border: 1px solid #0c0c0c;
    padding: 3px 6px;
    border-radius: 8px;
    /* margin-bottom: 10px; */
}

.lang-drop-menu {
    display: none;
    width: 10rem;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 1000;
    border-radius: 14px;
}

/* .lang-drop-menu li {
    padding: 5px 20px;
} */

.lang-drop-menu li a {
    color: #333 !important;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px;
}

.lang-drop-menu li a:hover {
    background-color: #747474b5;
}

/* Display the language menu on hover */
.lang-menu:hover .lang-drop-menu {
    display: block;
}

/* Background color change when scrolled */
nav.scrolled {
    background-color: white;
}

/* Change link color when scrolled */
nav.scrolled .nav-list ul li a {
    color: black;
    /* Black when scrolled */
}

.mobile-nav {
    display: none;
}


/* Footer */
footer {
    width: 100% !important;
    color: #fff !important;
    background-color: #0c0c0c;
    min-height: 300px;
    height: fit-content;
}

.footer-top {
    padding: 55px 0px 15px 0px;
}

.footer-logo {
    width: 220px;
    object-fit: cover;
    height: auto;
}

.footer-socials {
    display: flex;
    margin-top: 15px;
}

.footer-socials li {
    margin-right: 20px;
}

.footer-socials li a {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.footer-links li a {
    color: #fff;
    font-size: 12px;

}

.footer-bottom {
    text-align: center;
    color: #fff;
    padding: 15px;
}

.footer-bottom p {
    font-size: 14px;
    font-weight: 500;
}

/* PAGES */
.ca-homepage {
    position: relative;
    top: 0;
    left: 0;
}


/* SPECIALS */
/* General button styles */
.whatsapp-button,
.messenger-button,
.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
    /* Space between buttons */
    border: 1px solid #333;
    /* Border color */
}

/* WhatsApp button specific styles */
.whatsapp-button {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-button i {
    width: 20px;
    height: 20px;
    color: #333;
}

/* Facebook Messenger button specific styles */
.messenger-button {
    background-color: #d9d9d9;
}

.messenger-button i {
    width: 20px;
    height: 20px;
    color: #333;
}

/* Scroll to top button specific styles */
.scroll-to-top {
    background-color: #d9d9d9;
    /* Customize color */
    display: none;
    /* Initially hidden */
    color: #333;
}

.scroll-to-top.show {
    display: flex;
    /* Show button when needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button container styles */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}


/* Mobile  and Taablet*/
@media only screen and (max-width: 992px) {
    body {
        margin: 0;
        padding: 0;
        /* width: 100% !important; */
    }

    /* Hide desktop nav on smaller screens */
    #navbar {
        display: none;
    }

/* Basic styling for the mobile nav */
.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    z-index: 1000;
}

.mobile-nav .logo img {
    height: 40px;
    /* Adjust as needed */
}

.mobile-nav .nav-toggle {
    background: none;
    border: none;
    font-size: 24px;
}

.lang-menu {
    position: relative;
}

.lang-menu-switch {
    cursor: pointer;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.mobile-lang-drop-menu {
    display: none;
    position: absolute;
    top: -310px; /* Adjust to align below the toggle */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 1000;
    text-align: center;
}

.mobile-lang-drop-menu li {
    padding: 5px 20px;
}

.mobile-lang-drop-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

/* Show language menu on click */
.lang-menu:hover .mobile-lang-drop-menu {
    display: block;
}

.mobile-nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.mobile-nav-list.show {
    display: flex;
}

.mobile-nav-list .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
}

.mobile-nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-list ul li {
    margin: 15px 0;
}

.mobile-nav-list ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}



    /* Center footer content */
    .footer-top .row {
        justify-content: center;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 15px;
    }

    .footer-socials {
        justify-content: center;
        margin-bottom: 15px;
    }

    .footer-bottom {
        margin-top: 20px;
    }

    /* GENERAL RULES */
    .oth-b-boxcon {
        position: relative;
        /* Add this */
        margin: auto auto auto 35px;
        z-index: 9;
    }

    .oth-b-boxcon h6 {
        color: #000000;
        text-align: left;
        font-family: "Ingra-Regular2", sans-serif;
        font-size: 28px;
        font-weight: 500;
        position: relative;
        /* margin-left: 35px; */
        /* margin-bottom: 15px; */
        /* Add this */
        /* bottom: -10px; */
        /* Adjust this value to control the line's position */
        /* left: 10; */
        /* Add this */
        /* z-index: 1; */
        /* Add this */
    }

    .oth-b-line {
        height: 2px;
        width: 90%;
        background-color: #92278F;
        position: relative;
        /* margin-left: 35px; */
        margin-bottom: 25px;
        /* Add this */
        /* bottom: -10px; */
        /* Adjust this value to control the line's position */
        /* left: 0; */
        /* Add this */
        /* z-index: 1; */
        /* Add this */
    }

    .oth-b-boxcon p {
        color: #000000;
        text-align: left;
        font-family: "Ingra-Regular2", sans-serif;
        font-size: 15px;
        font-weight: 400;
        position: relative;
        /* margin-left: 35px; */
        /* Add this */
        bottom: 0px;
        /* Adjust this value to control the line's position */
        /* left: 0; */
        /* Add this */
        /* z-index: 1; */
        /* Add this */
    }


    /* SPECIALS */
    .whatsapp-button,
    .messenger-button,
    .scroll-to-top {
        width: 35px;
        height: 35px;
    }

    .whatsapp-button img,
    .messenger-button img {
        width: 20px;
        height: 20px;
    }

    .button-container {
        bottom: 15px;
        right: 5px;
        padding: 6px;
    }

}