/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --title-ca-font-family: Ingra-Regular5, sans-serif;
  --title-ca-font-size: 25px;
  --title-ca-line-height: normal;
  --title-ca-font-weight: 400;
  --title-ca-font-style: normal;

  /* Effects */
}
