# Enable rewrite engine
RewriteEngine On

# Redirect the root to /en directory
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /en/ [L,R=301]

# Optional: Make sure that the language directories don't get overridden by other rules
RewriteCond %{REQUEST_URI} !^/en/
RewriteCond %{REQUEST_URI} !^/fr/
RewriteCond %{REQUEST_URI} !^/ar/

# Detect language from Accept-Language header
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ /fr/ [R=302,L]

RewriteCond %{HTTP:Accept-Language} ^ar [NC]
RewriteRule ^$ /ar/ [R=302,L]