# Enable rewrite engine
RewriteEngine On

# Redirect the root to /en directory
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /en/ [L,R=301]

# Optional: Make sure that the language directories don't get overridden by other rules
RewriteCond %{REQUEST_URI} !^/en/
RewriteCond %{REQUEST_URI} !^/fr/
RewriteCond %{REQUEST_URI} !^/ar/

# You can add more custom rules below as needed
