# Enable rewrite engine
RewriteEngine On

# Exclude language directories from redirection rules
RewriteCond %{REQUEST_URI} !^/en/
RewriteCond %{REQUEST_URI} !^/fr/
RewriteCond %{REQUEST_URI} !^/ar/

# Redirect the root to /en/ by default
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /en/ [L,R=301]

# Redirect based on Accept-Language header
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ /fr/ [R=302,L]

RewriteCond %{HTTP:Accept-Language} ^ar [NC]
RewriteRule ^$ /ar/ [R=302,L]
